.List {
    background: linear-gradient(
        50deg, 
        
    );
    padding: 40px;
    color: black;
    text-align: center;
}

img {
    height: 60px;
    padding-left: 260px;
    
}

body {
     background: linear-gradient(
        50deg, 
        yellow,
        lightgreen
    );
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.info {
    padding-top: 377px;
}

.Datum {
    padding: 52px;
}

.Infektionsschutz{

    
    padding-left: 20px;
    padding-top: 50px;
}

.Testung{

    padding-left: 20px;
    padding-top: 20px;
    
}

.Formular
    {

        padding-left: 20px;
        padding-top: 20px;

    }

.Elternschreiben {
    padding-left: 20px;
    padding-top: 20px;

}

.Infektionsbild{
    padding-left: 30px;
    height: 120px;
}

.FürPersonen{
    color: red;
}

.Elterninformationen{
    padding-left: 20px;
    padding-top: 50px;
}

.infos{
    padding-left: 20px;
    padding-top: 20px;
}
